{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!--<center>-->
<!--    <form method="POST" enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->
<!--    <h2>Add Movie</h2>-->
<!--    <table>-->
<!--        {{form.as_table}}-->
<!--    </table><br>-->
<!--    <input class="btn btn-outline-success" type="submit" value="Submit">-->
<!--    </form>-->
<!--</center>-->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% endblock %}